<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Counter</title>
</head>
<body>
    <h1 class="container">Counter</h1>
    <div class="container">You have clicked {{session["countPy"]}} times</div>
    <div class="container">You have visited the page {{session["visits"]}} time(s)</div>
    <div class="container"><a class="btn btn-primary" href="/click" name="count_1">Click to increase your counter number</a></div>
    <div class="container"><a class="btn btn-primary" href="/click/2" name="count_2">Click to increase your counter number by 2!</a></div>
    <form action="/click/form" method="POST" class="mb-3">
        <lable for="click_input" class="form-label">Click to increase your counter number by an input!</lable>
        <input class="form-control" type="text" name="click_input">
        <input type="submit" class="btn btn-primary">
    </form>
    <div class="container"><a class="btn btn-danger" href="/destroy_session" type="submit">Reset Counter</a></div>
</body>
</html>