<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOJOS</title>
</head>
<body>
    <h1>header for dojos page</h1>
    <ul>
        {% for dojo in all_dojos %}
            <li><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <br>
    <h1>New Dojo</h1>
    <form action="/create_new_dojo" method="post">
        <input name="new_dojo" type="text">
        <input type="submit" value="Create">
    </form>
    <hr>
    <br>
    <a href="/ninjas">Add Ninja</a>
</body>
</html>