<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show {{author[0].name}}</title>
</head>
<body>

    <h1>{{author[0].name}}'s page</h1>

    
    
        <ul>
            {% for item in favorites %}
            <li>{{item.title}}</li>
            {% endfor %}
        </ul>
    
    <hr>
    <h1>Add a favorite</h1>
    <form method="post" action="/author/{{author[0].id}}/add_favorite">
    <select name="add_favorite">
        {% for item in books_not_favorited %}
        <option value={{item.id}}>{{item.title}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Add!">
    </form>
    <hr>
    <a href="/">Home</a>
</body>
</html>